/*Contenedor principal*/
.container{
    width: 100%;
    height: 100%;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Header*/
.cabecera{
    width: 100%;
    height: 5em;
    
    display: flex;
    flex-direction: row;
}
.espacio{
    width: 85%;
    height: 5em;
    
}
.espaciologos{
    width: 15%;
    height: 5em;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.linkedin{
    width: 2.5em;
    height: 2.5em;
    display: flex;
}

.github{
    width: 2.5em;
    height: 2.5em;
    display: flex;
}
.contacto{
    width: 2.5em;
    height: 2.5em;
    display: flex;
    
}
/*Imagen central*/
.imagenpersonal{
    width: 100%;
    height: 20em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.nombre{
    width: 10em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Formato de texto de todos los <p> */
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    
}
.fotoprincipal{
    width: 12em;
    height: 12em;
    border: 0.1em solid black;
    display: flex;
    overflow: hidden;
    border-radius: 10%;
      
}
.fotoprincipal img{
    width: 100%;
    height: auto;
}
@supports(object-fit: cover){
    .fotoprincipal img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
/*Sección principal de la página*/
.containerdescripcion{
    width: 100%;
    height: 27em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.quiensoy{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    text-indent: 5%;
    width: 15em;
    height: 27em;
    border: 0.1em solid black;
    border-radius: 2%;
    transition: 2s;
}
.aboutme{
    display: inline;
    text-align: center;
    width: 100%;
}
.quiensoy:hover{
    width: 22em;
    height: 22em;
    transition: 2s;
    background-color: lightgray;
    border-radius: 4%;
}


.espaciador1{
    width: 2em;
    height: 27em;
}
.estudios{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    text-indent: 5%;
    width: 15em;
    height: 27em;
    border: 0.1em solid black;
    border-radius: 2%;
    transition: 2s;
}
.estudios:hover{
    width: 22em;
    height: 22em;
    transition: 2s;
    background-color: lightgray;
    border-radius: 4%;
}
.espaciador2{
    width: 2em;
    height: 27em;
} 
.experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    text-indent: 5%;
    width: 15em;
    height: 27em;
    border: 0.1em solid black;
    border-radius: 2%;
    transition: 2s;
}
.experiencia:hover{
    width: 22em;
    height: 22em;
    transition: 2s;
    background-color: lightgray;
    border-radius: 4%;
}

.espaciador3{
    width: 2em;
    height: 27em;
}
.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    text-indent: 5%;
    width: 15em;
    height: 27em;
    border: 0.1em solid black;
    border-radius: 2%;
    transition: 2s;
}
.proyectos:hover{
    width: 22em;
    height: 22em;
    transition: 2s;
    background-color: lightgray;
    border-radius: 4%;
}
.containerreserva{
    width: 100%;
    height: 10em;
    display: flex;
    
}
.footer{
    width: 100%;
    height: 12em;
    
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer2{
    width: 15em;
    height: 12em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.footer3{
    width: 15em;
    height: 12em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p2{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 5%;
}
a{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10%;
    color: blue;
}